# Python
__pycache__/
*.pyc

# Config secrets
demogroups.py
bkp.sh
backups
config/config.yaml
config/config.json
config/users.json
config/talkgroups.json
config/talkgroups_sanitized.json

# Logs
logs/*
!logs/.gitkeep

# Recordings (VERY IMPORTANT)
recordings/

# OS junk
.DS_Store
Thumbs.db

# Virtual env
venv/
.env
