# Python
__pycache__/
*.pyc

# Config secrets
bkp.sh
backups
config/config.yaml
config/config.json
config/users.json
config/talkgroups.json

# Logs
logs/
*.log

# Recordings (VERY IMPORTANT)
recordings/

# OS junk
.DS_Store
Thumbs.db

# Virtual env
venv/
.env
